[submodule "third_party/sample_factory"]
	path = third_party/sample_factory
	url = https://github.com/daveey/sample-factory.git
[submodule "third_party/griddly"]
	path = third_party/griddly
	url = https://github.com/daveey/Griddly.git
[submodule "third_party/meltingpot"]
	path = third_party/meltingpot
	url = https://github.com/google-deepmind/meltingpot.git
[submodule "third_party/pufferlib"]
	path = third_party/pufferlib
	url = git@github.com:daveey/PufferLib.git
